<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <!--
      If you're using private feeds, you might have specific mappings here.
      For now, we'll keep it simple.
    -->
    <add key="nuget.org" value="*"/>
  </packageSourceMapping>
</configuration>